@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
/*all*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
}
.wrap {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
/*header*/
.header-main-logo {
    padding: 10px 37%;
}
/*slideshow and form general classes*/
.slideshow-and-form-bg p, .text-and-tabs-blocks p{
	margin-bottom: 20px;
    color: #4E4E4E;
}
.slideshow-and-form-bg {
    z-index: -2;
    display: block; 
    width: 100%;
    height: 500px;
    background: url("images/main_form_bg.jpg") no-repeat center;
    background-size: cover; 
}
.slideshow-and-form-container {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height: 460px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px grey;
}
.slideshow-and-form-container:before,
.slideshow-and-form-container:after {
    z-index: 0;
    position: absolute;
    top: 87%;
    bottom: 32px;
    left: 10px;
    width: 50%;
    max-width: 300px;
    content: "";
    background: transparent;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.slideshow-and-form-container:after {
    z-index: 0;
    right: 10px;
    left: auto;
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
/*slideshow*/
.slideshow {
    z-index: 2;
    position: relative;
    margin: auto;
    float: left;
    height: 100%;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    box-shadow: 2px 0px 0px 0px #EAEAEA;
}
.slideshow .slides {
    display: none;
    height: 100%;
}
.slideshow .slides img {
    height: 460px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.slideshow .dots {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.slideshow .dot {
    display: inline-block;
    margin: 0 2px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.62);
    transition: background-color 0.6s ease;
    box-shadow: 0px 0px 10px 1px white;
}
.slideshow .dot.active-dot {
    background-color: #FFA500;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.58) inset, 0px 0px 10px 1px white;
}
.slideshow .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*register-form*/
.register-form {
    z-index: 1;
    float: left;
    position: relative;
    width: 50%;
    height: 460px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #F8F8F8;    
}
.register-form .gradient-text {
    position: relative;
    margin: 0 20px;
    padding: 10px 0;
    font-size: 44px;
    font-weight: 300;
    color: #FF8414;
}
.register-form .gradient-text:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(rgba(248, 248, 248, 1), rgba(248, 248, 248, .0));
}
.register-form .gender-icons,
.register-form .select::after,
.register-form .checkbox-custom,
.register-form .radio-custom,
.users-list
.progress-bar,
.ui-widget-content {
    background: -webkit-linear-gradient(top, #F4F8F9, #F4F8F9 1px, #E6E7E7 25px);
    background: -o-linear-gradient(top, #F4F8F9, #F4F8F9 1px, #E6E7E7 25px);
    background: -ms-linear-gradient(top, #F4F8F9, #F4F8F9 1px, #E6E7E7 25px);
    background: linear-gradient(top, #F4F8F9, #F4F8F9 1px, #E6E7E7 25px);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F4F8F97', endColorstr='#E6E7E7', GradientType=0);
}
.register-form .gender-icons {
    float: left;
	position: relative;
    width: 100px;
    height: 36px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #cacaca;
    border-left: 1px solid #dcdada;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
}
.register-form .gender-icons label span {
    float:left;
    width: 50px;
    height: 36px;
    cursor: pointer;
}
.register-form .gender-box {
    float: left;
    position: relative;
    padding: 0 0 15px 20px;
}
.register-form .find-gender-box {
    float: left;
    position: relative;
    padding: 0 0 15px 0px;
}
.register-form .search-icon {
    display: inline-block;
    margin-bottom: -1px;
    width: 24px;
    height: 16px;
	background: url(images/sprite.png) no-repeat;
    background-position: center -209px;
}
.register-form label.choose-gender img {
    margin-right: 5px;
}
.register-form label.choose-gender {
    width: 122px !important;
    text-align: center;
}
.register-form .gender-field-box input+span{
	background: url(images/sprite.png) no-repeat;
}	
.register-form .gender-field-box input:not(:checked) + span.gender-w {
    background-position: 2px -55px;
}
.register-form .gender-field-box input:not(:checked) + span.gender-m {
    background-position: -2px -92px;
}
.register-form .gender-field-box input:checked + span.gender-w {
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    background-color:#FF9F0E;
    background-position: 1px -129px;
    -moz-box-shadow: inset 2px 3px 9px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 2px 3px 9px 1px rgba(0, 0, 0, .3);
    box-shadow: inset inset 2px 3px 9px 1px rgba(0, 0, 0, .3);
}
.register-form .gender-field-box input:checked + span.gender-m {
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
    background-color:#FF9F0E;
    background-position: -2px -166px;
    -moz-box-shadow: inset 0px 3px 9px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0px 3px 9px 1px rgba(0, 0, 0, .3);
    box-shadow: inset inset 0px 3px 9px 1px rgba(0, 0, 0, .3);
}
.register-form input[type="radio"] {
    visibility: hidden;
    position: absolute;
}
.register-form input[type="text"] {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #dcdada;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.62);
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.38);
}
.register-form .all-field-box {
    float: left;
    position: relative;
    padding: 0 0 15px 20px;
    width: 100%;
    box-sizing: border-box;
}
.register-form .field-box {
    float: left;
    width:67.5%;
}
.register-form .all-field-box .city {
    width: 72%;
}
.register-form .all-field-box .age {
    width: 17%;
    margin-right: 2%;
    text-align: center;
}
.register-form .all-field-box .month {
    width: 28%;
    margin-right: 2%;
}
.register-form .all-field-box .year {
    width: 22%;
}
.register-form .label {   
    float: left;
    display: block;
    margin-right: 7px;
    width: 80px;
    height: 31px;
    line-height: 31px;
    font-size: 18px;
    color: #666666;
}
.register-form select,
.register-form input[type="text"] {
    background: -webkit-linear-gradient(top, #E7E7E7, #E7E7E7 1px, #F5F9FA 25px);
    background: -o-linear-gradient(top, #E7E7E7, #E7E7E7 1px, #F5F9FA 25px);
    background: -ms-linear-gradient(top, #E7E7E7, #E7E7E7 1px, #F5F9FA 25px);
    background: linear-gradient(top, #E7E7E7, #E7E7E7 1px, #F5F9FA 25px);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E7E7E7', endColorstr='#F5F9FA', GradientType=0);
}
.register-form select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 13px;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    box-shadow: none;
    color: #666666;
}
.register-form select::-ms-expand {
    display: none;
}
.register-form .select {
    position: relative;
    display: block;
    width: 20em;
    height: 34px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #dcdada;
    border-radius: 53px;
    overflow: hidden;
    line-height: 35px;
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.38);
}
.register-form .select::after {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 1px solid #dcdada;
    content: '\25BC';
    color:#666666;
    pointer-events: none;
    -moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
}
.register-form .select:hover::after {
    color: #f39c12;
}
.register-form .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.register-form .checkbox-box,
.register-form .radio-box {
    float: left;
    width: 35%;
    margin-left: 22%;
}
.register-form .radio-box {
    margin-left: 2%;
}
.register-form .checkbox-box label,
.register-form .radio-box label {
    display: block;
}
.register-form .checkbox-box .checkbox,
.register-form .radio-box .radio {
    display: none;
}
.register-form .checkbox-box .checkbox-custom,
.register-form .radio-box .radio-custom {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #949494;
    border-right: 1px solid #949494;
    cursor: pointer;
}
.register-form .checkbox-box .checkbox-custom,
.register-form .radio-box .radio-custom,
.register-form .checkbox-label,
.register-form .radio-label {
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 7px;
    vertical-align: middle;
    color: #666666;
    font-size: 18px;
}
.register-form .checkbox:checked + .checkbox-custom::before,
.register-form .radio-box .radio:checked + .radio-custom::before{
    moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
}
.register-form .checkbox-box .checkbox:checked + .checkbox-custom::before,
.register-form .radio-box .radio:checked + .radio-custom::before {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: "";
    background: -webkit-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: -o-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: -ms-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F4F8F97', endColorstr='#E6E7E7', GradientType=0);
}
.register-form .radio-custom,
.register-form .radio:checked + .radio-custom::before {
    border-radius: 50%;
}
.register-form .error-txt {
    z-index: 10;    
    display: none;    
    position: absolute;
    right: -35%;
    top: -10px;
    padding-right: 24px;
    width: 150px;
    height: 55px;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 55px;
    text-align: right;
    color: #fff;
    background: rgba(0, 0, 0, 0.84);
}
.register-form .error-txt:before {
    position: absolute;
    top: 20px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgba(0, 0, 0, 0.84);
    content: " ";
}
.register-form .valid-icon {
    position: absolute;
    right: 3%;
    top: 10px;
    margin: 0 0 0 5px;
    width: 0;
    height: 0;
    background: url(images/sprite.png) no-repeat;
}
.register-form .valid-icon.invalid {
    width: 23px;
    height: 16px;
    background-position: center -4px;
}
.register-form .invalid-field{
	border-color:red !important;
}
.register-form .valid-icon.valid {
    top: 5px;
    width: 22px;
    height: 22px;
    background-position: center -26px;
}
.register-form .submit {
    display: inline-block;
    width: 69.5%;
    height: 72px;
    margin-left: 22%;
    margin-top: 15px;
    border: 1px solid #D4E18E;
    border-radius: 35px;
    box-shadow: 0px 0px 0px 1px #7FA607;
    background: -webkit-linear-gradient(top, #B5CC3F 0%, #90BA2B 50%, #72AA00 51%, #94C516 100%);
    background: -o-linear-gradient(top, #B5CC3F 0%, #90BA2B 50%, #72AA00 51%, #94C516 100%);
    background: -ms-linear-gradient(top, #B5CC3F 0%, #90BA2B 50%, #72AA00 51%, #94C516 100%);
    background: linear-gradient(top, #B5CC3F 0%, #90BA2B 50%, #72AA00 51%, #94C516 100%);
    font-size: 44px;
    line-height: 60px;
    font-weight: 100;
    color: white;
    outline: 0;
    text-shadow: -1px -1px 1px #7A9F31;
    cursor: pointer;
    transition: 0.3s;
}
.register-form .submit:hover {
    box-shadow: 0px 0px 0px 1px #7EA607, 1px 1px 12px 1px rgba(0, 0, 0, 0.48);
}
/*text-and-tabs-blocks*/
.text-and-tabs-blocks h2 {
    padding: 10px 0;
    font-weight: 300;
    font-size: 31px;
    color: #4E4E4E;
}
/*code-block*/
.code-block, .users-list {
    float: left;
    padding-top: 25px;
    width: 48%;
}
.code-block {
    margin-right: 4%;
}
.code-block img {
    float: left;
    width: 175px;
    padding: 15px;
    shape-outside: circle(50%);
}
.code-block p {
    text-align: justify;
}
/*users-list*/
.users-list h2 {
    margin-left: 8%;
}
/*carousel*/
.carousel {
    position: relative;
    width: 398px;
    padding: 10px 40px;
}
.carousel img {
    display: block;
    height: 100%;
}
.carousel .carousel-arrow {
	display: block;	
    position: absolute;
    top: 32px;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    opacity: 0.5;
    transition: 0.7s;
    background: url(images/sprite.png) no-repeat;
}
.carousel .carousel-arrow:focus {
    outline: none;
}
.carousel .carousel-arrow:hover {
    cursor: pointer;
    opacity: 1;
}
.carousel .prev {
    left: 7px;
    background-position: center -274px;
}
.carousel .next {
    right: 16px;
    background-position: center -239px;
}
.carousel .gallery {
    width: 390px;
    overflow: hidden;
}
.carousel .gallery ul {
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}
.carousel .gallery li {
    display: inline-block;
    margin-right: 10px;
}
.carousel .bgmaskblack {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.63);
}
.carousel .bgmaskblack:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
    min-height: inherit;
}
.carousel .gallery .gallery-item {
    position: relative;
}
.carousel .gallery-item .sign-block {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    font-size: 16px;
}
.carousel .gallery-icons i {
    display: inline-block;
    margin-top: 5px;
    width: 19px;
    height: 17px;
    opacity: 0.5;
    transition: 0.9s;
    cursor: pointer;
    background: url(images/sprite.png) no-repeat;
}
.carousel .gallery-icons i:hover {
    opacity: 1;
}
.carousel .gallery-icons .ico-add {
    background-position: center -307px;
}
.carousel .gallery-icons .ico-wink {
    background-position: center -341px;
}
.carousel .gallery .gallery-item:hover .bgmaskblack {
    display: block;
    -webkit-animation-name: opacityforbfmask;
    -webkit-animation-duration: 1.5s;
    animation-name: opacityforbfmask;
    animation-duration: 1.5s;
}
@-webkit-keyframes opacityforbfmask {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*tabs*/
.tabs {
    margin-top: 15px;
    margin-left: 9%;
    width: 85%;
    height:190px;
}
.tabs div.tab {
    overflow: hidden;
}
.tabs div.tab button {
    float: left;
    padding: 7px 16px;
    border: none;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid transparent;
    outline: none;
    cursor: pointer; 
    transition: 0.3s;
    font-size: 16px;
    background: #F8F8F8;
    color: #B9B9B9;
    box-shadow: -4px 3px 5px -3px rgba(128, 128, 128, 0.59);
}
.tabs div.tab button.active-tab {
    background: white;
}
.tabs div.tab button.active-tab span {
    color: #FFBC80;
}
.tabs .tabcontent {
    display: none;
    padding: 16px 20px;
    width: 89%;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-top-left-radius: 0px;
    box-shadow: 1px 1px 9px -3px grey;
}
/*progress-bar*/
.users-list .bars,
.users-list .raiting {
    float: left;
}
.users-list .bars {
    width: 63%;
    margin-right: 12%;
    box-sizing: border-box;
}
.progress-bar, 
.slider.ui-widget-content {
    width: 100%;
    height: 18px;
    padding: 2px;
    border: 1px solid #dcdada;
    border-radius: 4px;
    border-bottom: 1px solid #949494;
    border-right: 1px solid #949494;
    box-sizing: border-box;
}
.progress-bar .skills {
    height: 12px;
    border-radius: 2px;
    text-align: right;
    line-height: 12px;
    font-size: 12px;
}
.progress-bar .progress, 
.slider .ui-widget-header {
    padding-right: 20px;
    background: -webkit-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: -o-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: -ms-linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    background: linear-gradient(top, #FFAB04 50%,#F98A1B 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F4F8F97', endColorstr='#E6E7E7', GradientType=0);
    moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset inset 0px 0px 0px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0px 1px 1px #EFF2F3;
}
/*breadcrumbs*/
.breadcrumbs {
    margin: 20px 0;
}
.breadcrumbs ul {
    display: inline-block;
    border: 1px solid #DCDCDC;
    border-bottom: 1px solid #949494;
    border-right: 1px solid #949494;
    border-radius: 5px;
    list-style: none outside none;
}
.breadcrumbs ul li {
    display: inline;
}
.breadcrumbs ul li a {
    display: block;
    float: left;
    position: relative;
    padding: 10px 2px 0 8px;
    margin: 0 10px 0 0;
    height: 20px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background: #3498db;
}
.breadcrumbs ul li a.active-item{
    background: orange;
}
.breadcrumbs ul li a.active-item:after{
    border-left: 6px solid orange;
}
.breadcrumbs ul li a.future-item{
    background: #E8E9E9;
}
.breadcrumbs ul li a.future-item:after{
    border-left: 6px solid #E8E9E9;
}
.breadcrumbs ul li a.future-item:before{
    border-left: 6px solid #9C9D9D;
}
.breadcrumbs ul li a.first:before{
    border-left: 6px solid #D3800E;
}
.breadcrumbs ul li a:after {
    z-index: 1;
    position: absolute;
    right: -5px;
    top: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 6px solid #C0C0C0;
    content: "";
}
.breadcrumbs ul li a:before {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 15px solid transparent;
    border-left: 6px solid #7F8080;
    border-top: 15px solid transparent;
    content: "";
}
.breadcrumbs ul li a {
    display: block;
    float: left;
    position: relative;
    padding: 10px 4px 0 8px;
    margin: 0 0 0 0;
    height: 20px;
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #4E4E4E;
    background: #C0C0C0;
    text-shadow: 0px 1px 1px #EFF2F3;
}
.breadcrumbs ul li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.breadcrumbs ul li:first-child a:before {
    display: none;
}
.breadcrumbs ul li:last-child a {
    padding: 10px 6px 0 8px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.breadcrumbs ul li:last-child a:after {
    display: none;
}
/*slider with two inputs*/
.slider {
    display: block;
    margin-bottom: 20px;
    width: 96%;
}
.slider.ui-slider {
    position: relative;
}
.slider.ui-slider .ui-slider-handle {
    z-index: 2;
    position: absolute;
    width: 15px;  
    height: 28px;  
    background: url(images/sprite.png) no-repeat;
    background-position: center -375px;
    cursor: pointer;
    outline: none;
}
.slider.ui-slider .ui-slider-range {
    z-index: 1;
    position: absolute;
    display: block;
    border: 0;
    overflow: hidden;
    font-size: .7em;
}
.slider.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -6px;
}
.slider.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.slider.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.slider .ui-widget-header {
    height: 12px;
    padding: 0;
}
/*raiting*/
.users-list .raiting {
    width: 25%;
}
/*percentage-сircle*/
.percentage-сircle {
    float: left;
    position: relative;
    margin: 0 0.1em 0.1em 0;
    width: 1.05em;
    height: 1.05em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-size: 83px;
    background-color: #E7E8E8;
}
.percentage-сircle:after {
    position: absolute;
    display: block;
    top: 0.2em;
    left: 0.2em;
    width: 0.66em;
    height: 0.66em;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: white; 
}
.percentage-сircle .slice {
    position: absolute;
    width: 1.05em;
    height: 1.05em;
    clip: rect(0em, 1.07em, 1.05em, 0.5em);
}
.percentage-сircle > span {
    z-index: 1;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 4.3em;
    line-height: 4.3em;
    font-size: 0.25em;
    color: #5A5A5A;
    text-align: center;
    white-space: nowrap;
}
.percentage-сircle.procent .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}
.percentage-сircle .bar {
    position: absolute;
    border: 0.2em solid #FFA352;
    width: 0.65em;
    height: 0.65em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/*star-raiting*/
.star-raiting {
    display: inline-block;
    height: 18px;
}
.star-raiting span {
    display: inline-block;
    width: 15px;
    height: 18px;
    background: url(images/sprite.png) no-repeat;
}
.star-raiting span:hover {
    cursor: pointer;
    background-position: center -418px;
}
.star-raiting .star-checked {
    background-position: center -418px;
}
.star-raiting .star {
    background-position: center -455px;
}
/*about-dating*/
.about-dating {
    clear: both;
}
.about-dating a,
.about-dating .ref-more,
.about-dating .ref-more i {
    color: #FFAF69;
}
.about-dating .ref-more {
    float: right;
}
.about-dating .column {
    padding-bottom: 50px;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 51px;
    -moz-column-gap: 51px;
    column-gap: 51px;
}
.about-dating .custom-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.about-dating .custom-list li {
    margin-bottom: 10px;
    counter-increment: step-counter;
}
.about-dating .custom-list li::before {
    margin-right: 4px;
    content: counter(step-counter) ". ";
    font-size: 85%;
    color: #A3A3A3;
}
.about-dating blockquote { 
    margin: 20px;  
    color: #BCBCBC;
}
.about-dating blockquote p {
    color: #BCBCBC;
    font-style: italic;
}
.about-dating blockquote:before {
    float: left;
    margin-left: -25px;
    margin-top: -24px;
    content: '\201C';
    font-size: 70px;
    font-weight: 200;
}
.about-dating blockquote:after {
    float: right;
    margin-right: -25px;
    margin-top: -65px;
    content: "\201D";
    font-size: 75px;
    font-weight: 200;
}
.about-dating .line-block {
    margin-left: 0px;
    padding-left: 19px;
    border-left: 3px solid #FFAF69;
    color: #FFAF69;
}
/*footer*/
.footer-content {
    display: block;
    padding: 20px 0;
    border-top: 1px solid #CFCFCF;
}
.footer-logo {
    float: left;
}
.footer-sign {
    float: right;
    padding-bottom: 20px;
    text-align: right;
}
.footer-sign .date {
    font-size: 34px;
    font-weight: 100;
    line-height: 36px;
    color: #CFCFCF;
}
.footer-sign .text {
    font-size: 24px;
    font-weight: 300;
}
.footer-sign .text .grey {
    margin-right: 5px;
    color: #CFCFCF;
}
.footer-sign p {
    margin: 0;
    padding: 0;
}
@media screen and (max-device-width: 1024px),
screen and (max-width: 1024px) {
	.register-form .error-txt {
		display:none !important;
	}
}
@media screen and (max-device-width: 960px),
screen and (max-width: 960px) {
		/*all*/
    .wrap {
        width: 80%;
    }
    /*header*/
    .header-main-logo {
        padding: 10px 0;
        text-align: center;
    }
    /*slideshow and form general classes*/
    .slideshow,
    .slideshow-and-form-bg .register-form,
    .slideshow-and-form-bg,
    .slideshow-and-form-container {
        float: none;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .slideshow {
        box-shadow: none;
    }
    .slideshow-and-form-container {
        margin: 7px 0px;
    }
    .slideshow .slides img {
        height: auto;
        border-radius: 0;
    }
    /*register-form*/
    .register-form .gradient-text {
        font-size: 31px;
    }
    .register-form .submit {
        margin: 15px 5%;
        width: 90%;
    }
    .register-form .checkbox-box,
    .register-form .radio-box {
        float: left;
        width: 40%;
    }
    .register-form .error-txt{
        display: none !important;
    }
    .register-form .checkbox-box {
        margin-left: 18%;
    }
    .register-form .gradient-text {
        font-size: 34px;
        line-height: 34px;
    }
    .register-form .label {
        width: 55px;
    }
    .register-form .search-icon {
        margin-left: 10px;
    }
    .register-form .all-field-box .age {
        width: 26%;
    }
    .register-form .all-field-box .month {
        width: 45%;
    }
    .register-form .all-field-box .year {
        margin-left: 40%;
        margin-top:15px;
        width: 30%;
    }
    .register-form .all-field-box .city{
        width: 73%;
    }
    .register-form .valid-icon{
        display: none;
    }
    /*text-and-tabs-blocks*/
    .code-block,
    .users-list {
        float: none;
        width: 100%;
    }
    .users-list .bars {
        margin-right: 0;
        width: 100%;
    }
    .users-list .raiting {
        margin: 0 25%;
        width: 50%;
        text-align: center;
    }
    /*carousel*/
    .carousel {
        margin: 0 auto;
        width: 480px;
    }
    .carousel .gallery {
        width: 100%;
    }
    /*tabs*/
    .tabs {
        height:auto;
        margin: 15px auto;
        width: 95%;
    }
    .tabs .tabcontent {
        width:93%;
        height: auto;
    }
    /*breadcrumbs*/
    .breadcrumbs {
    	text-align: center;
	}
    /*percentage-сircle*/
    .percentage-сircle {
        float:none;
        display: block;
        margin: 0px auto 10px auto; 
    }
    /*footer*/
    .footer-content {
        text-align: center;
    }
    .footer-logo,
    .footer-sign {
        float: none;
        text-align: center;
    }
}
@media screen and (max-device-width: 500px),
screen and (max-width: 500px) {
    /*all*/
    .wrap {
        width: 96%;
    }
    /*text-and-tabs-blocks*/
    .text-and-tabs-blocks h2 {
        line-height: 32px;
    }
    /*carousel*/
    .carousel {
        margin: 0 auto;
        width: 240px;
    }
    /*tabs*/
    .tabs .tabcontent {
        width:86%;
        height: auto;
    }
}